<% if (typeof name == 'undefined') { %> 
    <script>
      window.location.replace(`http://localhost:3000/login`)
    </script>
<% }%>

<div class="container" id="parent">
      <!-- looping -->
      
      <% locals.gf.messages.forEach(element => { %>
        <% if (element.isMale) { %>
          <div class="row align-items-center mb-1 shadow-lg" style="background-color:  #0d4e8891;">
            <div class="col-1 " id="chat_img">
              <img src="/img/male_chat.png" class="" alt="" srcset="">
              <p class="text-center fw-bold text-info">Vivek</p>
            </div>
            <div class="col-8 align-self-top">
              <p class="text-light my-2 overflow-hidden " style="font-size: 1.2rem;"><%=element.message%></p>
            </div>
            <div class="col-2">
              <code class="text-dark"><%=element.createdDate%></code>
            </div>
            <div class="col-1">
              <a 
              class="btn  btn-light text-info"
              href="/deleteMsg?email=<%=locals.gf.email%>&isGf=<%=locals.isGf%>&msg=<%=element.message%>"
              >Delete</a>
            </div>
          </div>

        <% } else{%>
          <div class="row align-items-center mb-1 shadow-lg" style="background-color:  #370a64a3;">
            <div class="col-1 " id="chat_img">
              <img src="/img/female_chat.png"  alt="" srcset="">
              <p class="text-center fw-bold text-info"><%=name%></p>
            </div>
            <div class="col-8 align-self-top">
              <p class="text-light my-2 overflow-hidden"><%=element.message%></p>
            </div>
            <div class="col-2">
              <code class="text-dark"><%=element.createdDate%></code>
            </div>
            <div class="col-1">
              <a 
              class="btn  btn-light text-info"
              href="/deleteMsg?email=<%=locals.gf.email%>&isGf=<%=locals.isGf%>&msg=<%=element.message%>"
              >Delete</a>
            </div>
          </div>
         <%}%> 


      <%}); %>
</div>
  <form
  method="POST"
  class="d-flex flex-column justify-content-center align-items-center mt-2"
  action="/updateMsg"
  >
    <textarea id="msg" name="msg" class="form-control" cols="20" rows="1" value="" placeholder="type your message here!!!!" autofocus></textarea>
    <input type="text" name="email" value="<%= locals.gf.email %>" hidden id="" />
  <% if (locals.isGf) { %>
    <input type="text" name="isGf" value="true" hidden id="" />
    <button type="submit" class="mt-2 btn btn-lg btn-dark" value="Send as Gf">Send as Gf</button>
  <% } else {%>
    <input type="text" name="isGf" value="false" hidden id="" />
    <button type="submit" class="mt-2 btn btn-lg btn-dark" value="Send as Bf">Send as Bf</button>
  <% } %>

  </form>

  <script defer>
    
    function myfun (){
      const msg = document.getElementById('msg')
      if(msg.value == ""){
        window.location.reload(1);
      }
    }
  setInterval(myfun, 5000);
    
  </script>


