<% if (typeof name == 'undefined') { %> 
    <script>
      window.location.replace(`http://localhost:3000/login`)
    </script>
<% }%>

<div class="wrapper" id="parent">
      <!-- looping -->
      
      <% locals.gf.messages.forEach(element => { %>
        <% if (element.isMale) { %>
          <div class="container " style="background-color: mintcream;">
            
            <img src="/img/male_chat.png" alt="" srcset="">
            <span class="time-left text-dark"> Vivek: <%=element.message%></span>
            <code class="time-right"><%=element.createdDate%></code>
            <a 
            class="btn time-right text-info"
            href="/deleteMsg?email=<%=locals.gf.email%>&isGf=<%=locals.isGf%>&msg=<%=element.message%>">Delete Msg</a>
          </div>

        <% } else{%>
          <div class="container" style="background-color: rebeccapurple;">
            
            <img src="/img/female_chat.png" alt="" srcset="">
            <span class="time-left text-light"><%=name%>: <%=element.message%></span>
            <code class="time-right"><%=element.createdDate%></code>
            <a 
            class="btn time-right text-info"
            href="/deleteMsg?email=<%=locals.gf.email%>&isGf=<%=locals.isGf%>&msg=<%=element.message%>">Delete Msg</a>
          </div>
         <%}%> 


      <%}); %>
</div>
  <form
  method="POST"
  class="d-flex flex-column justify-content-center align-items-center"
  action="/updateMsg"
  >
    <textarea name="msg" class="form-control" cols="20" rows="1" value="" placeholder="type your message here!!!!"></textarea>
    <input type="text" name="email" value="<%= locals.gf.email %>" hidden id="" />
  <% if (locals.isGf) { %>
    <input type="text" name="isGf" value="true" hidden id="" />
    <button type="submit" class="mt-2 btn btn-lg btn-dark" value="Send as Gf">Send as Gf</button>
  <% } else {%>
    <input type="text" name="isGf" value="false" hidden id="" />
    <button type="submit" class="mt-2 btn btn-lg btn-dark" value="Send as Bf">Send as Bf</button>
  <% } %>

  </form>

</body>


</html>
